<div class="container mt-4">
  <div class="row align-items-stretch my-3">
    <div class="col-12">
      <div class="shadow-sm h-100 p-5 bg-gray border rounded-3">
        <h2>Add borders</h2>
        <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
        <button class="btn btn-outline-secondary" type="button">Example button</button>
      </div>
    </div>
  </div>
  <p class="my-3" data-controller="hello"></p>
  <div data-controller="choices">
    <%= select_tag "Users", options_from_collection_for_select(Person.all, "id", "name"), include_blank: true,
      class: "form-select", data: { choices_target: "users" },  multiple: true %>
  </div>
  <div class="row">
    <div class="cols box-wrapper">
      <div id="box" class="m-5"></div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="cols">
      <button type="button" class="m-1 btn btn-primary">Primary</button>
      <button type="button" class="m-1 btn btn-secondary">Secondary</button>
      <button type="button" class="m-1 btn btn-success">Success</button>
      <button type="button" class="m-1 btn btn-danger">Danger</button>
      <button type="button" class="m-1 btn btn-warning">Warning</button>
      <button type="button" class="m-1 btn btn-info">Info</button>
      <button type="button" class="m-1 btn btn-light">Light</button>
      <button type="button" class="m-1 btn btn-dark">Dark</button>
      <button type="button" class="m-1 btn btn-link">Link</button>
      <button type="button" class="m-1 btn btn-outline-primary">Primary</button>
      <button type="button" class="m-1 btn btn-outline-secondary">Secondary</button>
      <button type="button" class="m-1 btn btn-outline-success">Success</button>
      <button type="button" class="m-1 btn btn-outline-danger">Danger</button>
      <button type="button" class="m-1 btn btn-outline-warning">Warning</button>
      <button type="button" class="m-1 btn btn-outline-info">Info</button>
      <button type="button" class="m-1 btn btn-outline-light">Light</button>
      <button type="button" class="m-1 btn btn-outline-dark">Dark</button>
    </div>
  </div>
  <div class="row my-5 bg-light">
    <div class="cols">
      <div id="calendar" class="m-3"></div>
    </div>
  </div>
</div>
<style>
  #box {
    width: 50px;
    height: 50px;
    background: red;
  }
  .box-wrapper {
    display: flex;
    justify-content: center;
  }
  .bg-gray {
    background: #F9F9F9;
  }
</style>
<style>
  @media (max-width: 768px) {
      .fc-header-toolbar {
        display: flex;
        flex-direction: column;
      }
      .fc-toolbar-title {
        margin: 1rem 0 !important;
      }
    }
</style>
